.card{
  	display: flex;
	justify-content: flex-start;
	background-color: rgb(13, 163, 163);
	/* box-shadow: 5px 5px 10px rgb(19, 210, 210); */
	width: 300px;
	padding: 10px;
	margin: 10px;
	/* border: 1px solid grey; */
	border-radius: 15px;
	transition: all 0.3s ease;
}
.card:hover{
  	background-color: rgb(18, 186, 186);
	box-shadow: 5px 5px 10px rgb(19, 210, 210);
}

.card-img{
	width: 140px;
	height: 180px;
	border-radius: 10px;
}


.discription{
	margin-left: 15px;
	align-items: center;
}

.title {
	margin: 0;
}

.btn{
	padding: 0 15px;
}